/**
 * Images variables
 */

$width-logo: 250px;
$height-logo: 150px;

$border-radius-logo: 10px;

$width-logo-sm: 150px;
$height-logo-sm: 75px;

$width-logo-lg: 350px;
$height-logo-lg: 200px;

$width-img: 300px;
$height-img: 175px;

$width-img-sm: 215px;
$height-img-sm: 115px;

$width-img-article: 500px;
$height-img-article: 300px;

$width-img-article-tb: 450px;
$height-img-article-tb: 250px;

$width-img-article-sm: 300px;
$height-img-article-sm: 175px;

$background-img: url("../images/logo.jpg");

$width-picture: 300px;
$height-picture: 150px;

$width-picture-sm: 275px;
$height-picture-sm: 150px;
