<!-- Header -->
<header id="header">
  <div class="header-menu">
    <!-- Logo -->
    <div class="logo-header">
      <a href="./index.html">
        <img class="logo-img" src="./assets/images/logo.jpg" alt="Logo">
      </a>
    </div>

    <!-- Header nav -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="./index.html">Portada</a>
        </li>
        <li class="header-nav-list-item">
          <a href="./bands.html">Grupos</a>
        </li>
        <li class="header-nav-list-item">
          <a href="./article.html">Noticias</a>
        </li>
        <li class="header-nav-list-item">
          <a href="./gallery.html">Galería</a>
        </li>
        <li class="header-nav-list-item">
          <a href="./form.html">Entradas</a>
        </li>
      </ul>
    </nav>
  </div>
</header>