<!-- Main -->
<main id="main">
  <section id="home">
    <h1 class="home-title">
      <i class="fa-solid fa-house icon" aria-hidden="true"></i>
      <span>Festival de música Santiago de Compostela 2022</span>
    </h1>

    <article class="home-grid">
      <h2 class="home-grid-title">
        <i class="fas fa-user-tie icon" aria-hidden="true"></i>
        <span>Un regreso a lo grande con los mejores artistas</span>
      </h2>
      <p class="home-description">La edición de este año es un compendio de grandes grupos que dejarán su sello en la
        ciudad de <span class="bold">Santiago de Compostela ante un público estimado de cerca de 500.000 personas</span> repartidas durante los
        diez días que dure el evento. En el primer día de conciertos se pudieron ver sobre los escenarios a: <span class="italic">Harry
        Styles</span>, <span class="italic">Big Sean</span>, <span class="italic">Nicki Nicole</span>, <span class="italic">Billie Eilish</span>, <span class="italic">Anitta</span>, <span class="italic">Morat</span> o <span class="italic">Doja Cat</span> entre otros. Una de las sorpresas del
        día de ayer fue la presencia de <span class="italic">Justin Bieber</span>. El artista canadiense no estaba en el cartel de actuaciones, pero
        fue uno de los invitados sorpresas que dejó boquiabierto al público santiagués.</p>
      <a class="home-link" href="./article.html">
        <i class="fa-solid fa-plus icon" aria-hidden="true"></i>
        <span>Saber más sobre el festival</span>
      </a>

      <p class="home-img-header">
        <i class="fa-solid fa-bullhorn icon" aria-hidden="true"></i>
        <span>Escenario del festival de música Santiago de Compostela 2022</span>
      </p>
      <img class="home-img" src="./assets/images/home.jpg" alt="Music festival">
      <p class="home-img-footer">
        <i class="fas fa-image icon" aria-hidden="true"></i>
        <span>Foto del festival de música Santiago de Compostela 2022</span>
      </p>
    </article>
  </section>
</main>