/**
 * Fonts variables
 */

$font-family-sans-serif: "Arial", "Verdana", "sans-serif";
$font-family-serif: "Georgia", "Times New Roman", "serif";
$font-family-monospace: "Lucida Console", "Courier New", "monospace";
$font-family-app: "Inter", "Arial", "sans-serif";
$font-size: 16px;
