/**
 * Generic styles
 */

.subtitle { font-size: 1.2rem; }

.contrast-color { color: $contrast-color; }

.bold { font-weight: bold; }

.italic { font-style: italic; }

.underline { text-decoration: underline; }
