/**
 * Inheritance styles
 */

/* Estilo heredado que centra el contenido */

%margin-center {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

/* Estilo heredado que especifica un borde concreto */

%border {
  border: .5px solid $gray-color;
  border-radius: 15px;
  box-shadow: 1px 1px 5px $shadow-color;
}

/* Estilo heredado que especifica un estilo a las secciones */

%section-style {

  @extend %margin-center;

  @extend %border;

  @include padding;
}

/* Estilo heredado que especifica un estilo al sombreado */

%shadow-hover { box-shadow: 2px 2px 20px $shadow-color; }
